@use '~bootstrap/scss/bootstrap';

/*在庫登録画面の使用期限入力フォームサイズ*/
.custom-date-field {
  width: 440px;
}

/*在庫登録画面と在庫更新画面の登録ボタンサイズ*/
.custom-btn-size {
  width: 150px;
}

/*在庫一覧テキスト位置*/
table.cell-right-align thead {
  text-align: center;
}

td.cell-text-align {
  text-align: right;
}

.title {
  font-size: 4rem;
}

/*自治体のカラー*/
.local_government_color {
  background-color: #83E1CA;
}

/*ボランティアのカラー*/
.volunteer_color {
  background-color: #FFB84D;
}

.btn-volunteer {
  background-color: #FFB84D;
}

.btn-volunteer:hover {
  background-color: #FF8C00;
  border-color: #FF8C00;
}

/*フッター*/
footer {
  margin-top: auto;
  height: 3rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}